.homeContainer{
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather{
    background-color: red;
    height: 400px;
    width: 70%;
}

.weather1{
    background-color: lightblue;
    height: 200px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather2{
    /* background-color: red; */
    height: 200px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    background-color: blueviolet;
    height: 100px;
    width: 200px;
    border-radius: 8px;
}