body{
    background-color: lightcyan;
}
.container{
    background-color: lightcyan;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}
label{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
select{
    height: 30px;
    width: 225px;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
}